.post-card_parent .sc {
  /*display: inline-block;
    width: 45%;
    border: 1px;
    border-color: black;
    overflow: auto;
    word-wrap: break-word;*/
  margin-top: 16px;
}
/*
.post-card_parent h1,
.post-card_parent h2,
.post-card_parent h3,
.post-card_parent h4,
.post-card_parent h5,
.post-card_parent h6 {
  margin: 20px auto 6px;
  line-height: 1.35 !important;
}*/

.post-card_parent .hr__main {
  margin-top: 20px;
}

.post-card_parent .title {
  margin-bottom: 6px;
}

.post-card_parent .article-card {
  background-color: #f1f8e9;
  width: 300px;
  height: 360px;
  margin: 6px;
  display: inline-flex;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/*.post-card_parent .article-card.expand {
  width: 75vw;
  height: calc(80vh - 112px);
  max-width: 800px;
  margin: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50% + 56px));
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: rgba(0, 0, 0, 0.89) !important;
  font-size: 120% !important;
}*/
.post-card_parent .article-card.expand {
  /*background-color: white;*/
  order: -1;
  height: 97vh;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  color: rgba(0, 0, 0, 0.89) !important;
  font-size: 120% !important;
  margin: 0;
}

.post-card_parent .expand > .mdl-card__supporting-text {
  box-sizing: border-box;
  width: 99%;
  overflow-y: auto;
  overflow-wrap: break-word;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.89) !important;
}

.post-card_parent .expand > .mdl-card__supporting-text > * {
  font-size: 100%;
}

.post-card_parent .expand > .mdl-card__supporting-text > h5 {
  font-size: 17px;
}

.post-card_parent .expand > .mdl-card__supporting-text > h4 {
  font-size: 18px;
}

.post-card_parent .expand > .mdl-card__supporting-text > h3 {
  font-size: 20px;
}

.post-card_parent .expand > .mdl-card__supporting-text > h2 {
  font-size: 22px;
}

.post-card_parent .expand > .mdl-card__supporting-text > h1 {
  font-size: 24px;
}

.post-card_parent .mdl-card__title {
  flex-direction: column;
  justify-content: flex-end;
  vertical-align: middle;
  padding: 16px 16px 0px;
  margin-bottom: 16px;
  flex: none;
}

.post-card_parent .mdl-card__title-text,
.post-card_parent .mdl-card__subtitle-text {
  align-self: flex-start;
}

.post-card_parent .mdl-card__title-text {
  line-height: 32px;
}

.post-card_parent .mdl-card__subtitle-text {
  line-height: 24px;
}

.post-card_parent .mdl-card__supporting-text {
  padding-top: 0;
  text-overflow: ellipsis;
}

.post-card_parent .mdl-card__supporting-text table,
.post-card_parent .mdl-card__supporting-text th,
.post-card_parent .mdl-card__supporting-text td {
  border: 1px solid black;
}

.post-card_parent .mdl-card__supporting-text table {
  min-width: 30%;
  max-width: 100%;
  border-collapse: collapse;
}

.post-card_parent .mdl-card__supporting-text th,
.post-card_parent .mdl-card__supporting-text td {
  padding: 8px;
}

.post-card_parent .mdl-card__supporting-text h1 {
  font-size: 20px;
}

.post-card_parent .mdl-card__supporting-text h2 {
  font-size: 18px;
}

.post-card_parent .mdl-card__supporting-text h3 {
  font-size: 17px;
}

.post-card_parent .mdl-card__supporting-text h4 {
  font-size: 16px;
}

.post-card_parent .mdl-card__supporting-text h5 {
  font-size: 15px;
}

.post-card_parent .mdl-card__supporting-text h6 {
  font-size: 14px;
}

.post-card_parent .mdl-card__supporting-text img {
  max-width: 80%;
}

.post-card_parent .article-card.expand > .mdl-card__supporting-text img {
  max-height: 90%;
  width: auto;
}

.post-card_parent .mdl-card__actions {
  margin-top: 16px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .post-card_parent .article-card.expand > .mdl-card__supporting-text img {
    width: 360px;
  }

  .post-card_parent .article-card.expand > .mdl-card__supporting-text {
    overflow: auto;
  }
}