#javascriptDetector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55vh;
  z-index: 1000;
  background-color: white;
  text-align: center;
  padding-top: 45vh;
  font-size: 16px;
}

[v-cloak] {
  display: none;
}

html {
  font-size: 15px;
}

body {
  /*height: 100vh;*/
  font-size: 1rem;
  background-color: #110011;
  /*background-image: url("../../Nock-ten_2016-12-25_0210Z.jpg");*/
  /*background: radial-gradient(circle 100vh at 16% 40%, #1A237E, #304fff);
  background-attachment: fixed;*/
}

main {
  /*background: radial-gradient(circle farthest-corner at 16% 40%, #1de9ff, #304fff);*/
  /*background: radial-gradient(circle farthest-corner at 16% 40%, #00b0ff, #1de9ff, #304fff);*/
  /*background-color: #fff8e1;*/
  background-color: white;
}

.red {
  color: rgba(235, 0, 0, 0.7);
}

.wait-tabs {
  /*hide until all tabs are initialized*/
  display: none !important;
}

.hide {
  display: none !important;
}

.mdl-layout {
  margin: 0px auto;
  left: 0;
  right: 0;
  height: auto;
}

.mdl-button {
  transition: background 0.25s cubic-bezier(.4, 0, 1, 1), color 0.25s cubic-bezier(.4, 0, 1, 1);
}

.mdl-layout__tab,
.layout-subtitle {
  text-shadow: 0 0 3px black, 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
}

.mdl-layout__drawer {
  width: 320px;
  max-width: 80%;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

.mdl-layout__drawer-button > .material-icons {
  line-height: 48px;
  /*text-shadow: 0 0 10px red, 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black, 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;*/
  transition: all 0.1s cubic-bezier(.4, 0, 1, 1);
}

.mdl-layout__drawer-button > .material-icons:hover {
  font-size: 36px;
  line-height: 48px;
  /*text-shadow: 0 0 10px red, 0 0 25px red, 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black, 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;*/
  transition: all 0.1s cubic-bezier(.4, 0, 1, 1);
}

#userIcon {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.drawer-usericon {
  left: 40px;
  width: 80px;
  position: relative;
  box-sizing: border-box;
}

.drawer-usericon::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.drawer-usericon > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.33) solid 1px;
  background: rgba(0, 0, 0, 0.12) url("../img/ic_perm_identity_white_48px.svg") no-repeat center;
}

.drawer-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  min-height: 24px;
  line-height: 24px;
  text-decoration: none;
  padding: 8px 0px 8px 40px;
  color: rgba(66, 66, 66, 0.89);
}

.drawer-username {
  font-size: 20px;
  padding: 12px 0 0 42px;
}

.drawer-email {
  font-size: 16px;
  padding: 6px 0 0 42px;
}

.drawer-getPrivileged {
  margin-top: 24px;
}

.drawer-item > .material-icons {
  font-size: 24px;
  padding-right: 16px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .drawer-usericon {
    left: 24px;
  }

  .drawer-item {
    padding: 5px 0 10px 24px;
  }

  .drawer-username {
    padding: 8px 0 0 26px;
  }

  .drawer-email {
    padding: 6px 0 0 26px;
  }

  /*footer {
    margin-top: 8px;
  }*/
}

@media (min-width: 1024px) {
  .mdl-layout {
    max-width: 1024px;
  }

  .mdl-layout__drawer-button {
    left: 0;
    top: 0;
    margin: 9px 0px !important;
    background-color: transparent !important;
  }

  .header-vspacer {
    height: 20px;
  }
}

@media (max-width: 1023px) {
  .header-vspacer {
    height: 12px;
  }

  .mdl-layout__drawer-button {
    top: 0;
    left: 0;
    margin: 0px !important;
    background-color: transparent !important;
  }
}

.mdl-layout__header {
  background-color: #222233;
  background-image: url("../img/ht2.jpg");
}

.mdl-layout__header-row {
  display: block;
  white-space: nowrap;
  padding-left: 48px;
}

#logo {
  text-decoration: none;
  color: #ef8000;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 2px 1px black, 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black, 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}


/*
#logo:hover {
  text-decoration: underline;
  color: #ef8000;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 2px 1px #000000;
}*/

.mdl-layout__tab-bar {
  /*height: 48px;*/
  height: 72px;
  width: calc(100% - 72px);
  padding-left: 36px;
  padding-right: 36px;
  /*overflow: hidden;*/
  background-color: transparent;
}

.mdl-layout__tab {
  padding: 0px 16px;
}

.mdl-layout__tab.two-line {
  line-height: 16px;
  padding-top: 6px;
  height: 42px;
}

.mdl-layout__tab-bar-button {
  width: 36px;
  background-color: transparent;
}

.mdl-layout__tab-bar-button.is-active {
  color: #ff8820;
  background-color: rgba(255, 255, 255, 0.24);
}

#loading-panel {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

#loading-panel::before {
  content: "";
  height: calc(100vh - 112px - 138px);
  vertical-align: middle;
  display: inline-block;
}

section {
  /*background-color: #FFF3E0;*/
  /*background-color: rgba(255, 240, 222, 0.6);*/
  /*background: radial-gradient(circle farthest-corner at 16% 40%, #FFF8E1, #FFF3E0);*/
  /*background: radial-gradient(circle farthest-corner at 16% 40%, #ffe0b2, #ffe57f);*/
  /*background: radial-gradient(circle farthest-corner at 16% 40%, #fff3e0, #FFECB3);*/
  background: radial-gradient(circle farthest-corner at 36% 0, #fff3e0, #FFECB3);
  /*background-color: #fff3e0;*/
  min-height: calc(100vh - 112px - 138px);
}

.page-content {
  /*background: radial-gradient(circle farthest-side at 84% 60%, rgba(255, 253, 231, 0.66), rgba(255, 224, 178, 0.66));*/
  background: radial-gradient(circle farthest-side at 84% 60%, transparent, rgba(159, 168, 218, 0.36));
}

.mdl-layout__container {
  height: 100%;
}

.mdl-layout__container.has-scrolling-header .mdl-layout__content {
  overflow: inherit;
}

.page-content {
  padding: 0px;
  min-height: calc(100vh - 112px - 138px);
  color: rgba(0, 0, 0, 0.75);
}

.editorBtn {
  position: absolute;
  text-align: right;
  height: 48px;
  top: 0;
  right: 0;
}

.editorBtn * {
  color: rgba(0, 0, 0, 0.5);
}

.editorBtn > a {
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.editorBtn .material-icons {
  text-align: center;
  line-height: 48px;
  font-size: 36px;
  width: 48px;
}

.intro {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 360px;
  line-height: 1.2;
  /*color: rgba(250, 250, 250, 0.89);*/
}

.post-container {
  position: relative;
  /*margin: 4px;*/
  min-height: 360px;
}

#newsPosts {
  position: relative;
  padding: 12px;
  background-color: rgba(255, 235, 136, 0.36);
  min-height: 432px;
}

.title {
  padding: 6px;
  margin: 0;
}

.post-card_parent .message {
  width: 100%;
  min-height: 360px;
  line-height: 300px;
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  box-sizing: border-box;
  width: 100%;
}

.mdl-mini-footer__right-section {
  margin-left: auto;
  margin-right: 0;
}

.t-bottom::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.mdl-logo {
  margin-bottom: 0;
}

#dim {
  display: none;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

.dialogContainers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) translateZ(0);
  background-color: white;
  text-align: center;
  border-radius: 3px;
}

.inactive {
  display: none;
}

#loginIntro {
  width: 320px;
  height: 270px;
}

#loginIntro > .mdl-card__title {
  color: white;
  background-image: url("../img/intro.jpg");
  background-size: cover;
}

.mdl-card__menu {
  top: 0;
  right: 0;
  cursor: pointer;
}

.mdl-card__menu > a {
  color: rgba(0, 0, 0, 0.36);
}

.font.B {
  font-weight: bold;
}

#loginIntro,
#loginDialog,
#signupDialog,
#signupConfirm,
#verifyEmailSent {
  transform: perspective(1px);
}

#loginDialog {
  min-height: 280px;
}

#signupDialog {
  min-height: 414px;
}

#confirmDimer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#signupConfirm {
  min-height: 236px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 3px;
}

#loginLoading,
#signupLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.editorBtn::before,
#dim::before,
#loginLoading::before,
#signupLoading::before {
  content: "";
  display: inline-block;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}


/*#loginLoading>.mdl-spinner,
#signupLoading>*/

.mdl-spinner {
  display: inline-block;
}

.mdl-card__supporting-text {
  width: auto;
  text-align: left;
}

#verifyEmailSent {
  min-height: 330px;
}

#verifyEmailSent strong {
  color: rgba(255, 0, 0, 0.89);
}

#verifyEmailSent__CB {
  margin: 0 auto 16px;
}

.mdl-snackbar {
  opacity: 0;
  transition: opacity 0.1s linear, transform .25s cubic-bezier(.4, 0, 1, 1);
}

.mdl-snackbar.mdl-snackbar--active {
  opacity: 1;
  transition: opacity 0.1s linear, transform .25s cubic-bezier(0, 0, .2, 1);
}

#userInfoEditor {
  width: auto;
  max-width: 640px;
  min-height: 400px;
}

.mdl-text_wide {
  display: flex;
  width: auto;
}

#operShow {
  box-sizing: border-box;
  padding: 16px;
  min-height: calc(100vh - 112px - 138px);
  background-color: rgba(255, 240, 222, 0.5);
}

#operShow .opt-container {
  display: flex;
  flex-wrap: wrap;
}

#operShow .prod-type {
  display: inline-flex;
  flex: 2 1 300px;
}

#operShow .date-time {
  display: inline-flex;
  flex: 1 20000 150px;
}

#operShow .img-container {
  flex: 1;
  text-align: center;
}

#operShow .mdl-progress {
  width: 100%;
}

#operShow .img-container .message {
  font-size: 30px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.66);
  margin: 32px 0px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

#operShow .img-container img {
  max-width: 100%;
}

#briefingContainer {
  /*padding: 12px;*/
  /*background-color: rgba(255, 240, 222, 0.5);*/
  background-color: rgba(255, 248, 233, 0.7);
  min-height: calc(100vh - 112px - 138px);
}

#briefingContainer > div {
  padding: 12px;
}

#briefingContainer .post-container {
  background-color: rgba(0, 0, 0, 0.12);
}

#briefingContainer .mdl-list {
  position: relative;
  margin-bottom: 16px;
}

#briefingContainer .mdl-list__item {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(255, 220, 200, 0.36);
  margin-top: 4px;
  border-radius: 4px;
}

#briefingContainer .mdl-list__item.mdl-list__item--two-line {
  height: auto;
}

#briefingContainer .mdl-list__item-icon {
  color: rgba(255, 0, 0, 0.75);
  font-size: 30px;
  width: 30px;
  height: 30px;
}

#briefingContainer .mdl-list__item--two-line .mdl-list__item-primary-content {
  height: auto;
}

#briefingContainer .mdl-list__item-primary-content {
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#briefingContainer .mdl-list__item-primary-content .mdl-list__item-title {
  font-size: 18px;
  line-height: 20px;
}

#briefingContainer .mdl-list__item-secondary-content {
  align-self: flex-end;
  align-items: center;
}

#briefingContainer .mdl-list__item-secondary-action {
  color: rgba(66, 66, 66, 0.89);
  width: 30px;
  height: 30px;
}

#briefingContainer .mdl-list__item-secondary-action .material-icons {
  font-size: 30px;
}