body {
  background: #000011;
  /*background-image: url("../../Nock-ten_2016-12-25_0210Z.jpg");*/
}

.mdl-layout {
  margin: 0px auto;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1000px) {
  .mdl-layout {
    max-width: 1000px;
    /*min-width: 600px;*/
  }
}

@media screen and (max-width: 999px) {
  .mdl-layout {
    max-width: 100%;
  }
}

.mdl-layout__header {
  background: #222233;
  background-image: url('../a.png');
}

.mdl-layout__header-row {
  display: block;
  white-space: nowrap;
}

.vspacer-20 {
  height: 20px;
}

#logo {
  text-decoration: none;
  color: #ef8000;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 2px 1px #000000;
}

#logo:hover {
  text-decoration: underline;
  color: #ef8000;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 2px 1px #000000;
}

.mdl-layout__tab-bar {
  background: transparent;
}

.mdl-layout__tab-bar-button {
  background: transparent;
}

.mdl-layout__content {
  background: rgba(255, 255, 255, 0.97);
}

.page-content {
  padding: 10px 20px;
}